@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #155e75 #f8fafc;
}
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #f8fafc;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #155e75;
}

html {
  scroll-padding-top: var(--nav-height, 3.4rem);
  scroll-behavior: smooth;
}

.typed-cursor {
  color: #155e75;
}

.card::before {
  background-color: var(--before-bg-color);
}

#home,
#about,
#experience {
  min-height: calc(100svh - var(--nav-height, 3.4rem));
}
